# __Impact Analysis of Monkeypox Case Study__

___

## **Check Out README for Business Understanding & Data Understanding**

## **Data Preparation**

### Import Library

In [1]:
import os
from pathlib import Path
import pandas as pd

### Gathering Data (Import File)

In [ ]:
# Change the working directory to the project root
print("Before")
print(f"Current working directory: {os.getcwd()}")
os.chdir('..')  # Exit folder notebooks/analysis_processing/
print(f"Current working directory: {os.getcwd()}")
os.chdir('..')  # Exit folder notebooks/
print(f"Current working directory: {os.getcwd()}")
print("After")
print(f"Current working directory: {os.getcwd()}")

Before
Current working directory: d:\Project\DataAnalyst-ImpactAnalysisOfMonkeypoxCaseStudy\notebooks\analysis_processing\2022_5_to_2024_12
Current working directory: d:\Project\DataAnalyst-ImpactAnalysisOfMonkeypoxCaseStudy\notebooks\analysis_processing
Current working directory: d:\Project\DataAnalyst-ImpactAnalysisOfMonkeypoxCaseStudy\notebooks
After
Current working directory: d:\Project\DataAnalyst-ImpactAnalysisOfMonkeypoxCaseStudy\notebooks

In [ ]:
# Load the dataset
while True:
    try:
        start_year = int(input("Enter the start year (example: 2022): "))
        start_month = int(input("Enter the start month (1-12): "))

        end_year = int(input("Enter the end year (example: 2024): "))
        end_month = int(input("Enter the end month (1-12): "))

        # Input Validation
        if start_month < 1 or start_month > 12 or end_month < 1 or end_month > 12:
            print("Month must be between 1 and 12. Please try again.")
        elif start_year > end_year or (start_year == end_year and start_month > end_month):
            print("The start date cannot be later than the end date. Please try again.")
        else:
            break
    except ValueError:
        print("Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).")

# Format the file name according to the selected year and month range
file_name = f"monkeypox_{start_year}_{start_month}_to_{end_year}_{end_month}_filtered.csv"

# Build file paths relative to the project root
root_dir = Path(os.getcwd())  # Project root (Monkey Pox Impact Analysis/Monkey Pox Case Study/)
data_dir = root_dir / "data" / "raw" / "filtered"  # Directory data/raw/filtered
file_path = data_dir / file_name  # Path lengkap ke file

# Debugging: Print the constructed file path
print(f"Constructed file path: {file_path}")

# Check if the file exists
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print(f"Data successfully loaded from {file_path}")
else:
    print(f"File {file_path} not found.")

Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).
Constructed file path: d:\Project\DataAnalyst-ImpactAnalysisOfMonkeypoxCaseStudy\notebooks\data\raw\filtered\monkeypox_2022_5_to_2024_12_filtered.csv
File d:\Project\DataAnalyst-ImpactAnalysisOfMonkeypoxCaseStudy\notebooks\data\raw\filtered\monkeypox_2022_5_to_2024_12_filtered.csv not found.

### Check Data

In [4]:
# Count rows of dataset
jumlah_data = len(df)
print("Total data:", jumlah_data)

NameError: name 'df' is not defined

In [ ]:
# View the first 5 rows of the dataset
print("First 5 rows of the dataset:")
df.head()

First 5 rows of the dataset:

,location,date,iso_code,total_cases,total_deaths,new_cases,new_deaths,new_cases_smoothed,new_deaths_smoothed,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million,suspected_cases_cumulative,annotation
0,Africa,2022-05-01,OWID_AFR,42.0,2.0,2.0,0.0,0.29,0.0,0.001,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
1,Africa,2022-05-02,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
2,Africa,2022-05-03,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
3,Africa,2022-05-04,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
4,Africa,2022-05-05,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN

### Assessing Data

In [ ]:
# Counting the number of duplicate entries
print("Number of duplications: ", df.duplicated().sum())
print("\n")

# Counting the number of null values in each column
print("Null Data:")
for key, data in df.isnull().sum().items():
    print(f"{key}: {data}")

Number of duplications:  0


Null Data:
location: 0
date: 0
iso_code: 1024
total_cases: 1
total_deaths: 1
new_cases: 1
new_deaths: 1
new_cases_smoothed: 1
new_deaths_smoothed: 1
new_cases_per_million: 1
total_cases_per_million: 1
new_cases_smoothed_per_million: 1
new_deaths_per_million: 1
total_deaths_per_million: 1
new_deaths_smoothed_per_million: 1
suspected_cases_cumulative: 109418
annotation: 108548

In [ ]:
# Checking dataset dimensions (number of rows and columns)
print("\nShape of the dataset:")
df.shape

Shape of the dataset:

(109557, 17)

In [ ]:
# Checking data type, column, and missing values information
print("\nInfo of the dataset:")
df.info()

Info of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109557 entries, 0 to 109556
Data columns (total 17 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   location                         109557 non-null  object
 1   date                             109557 non-null  object
 2   iso_code                         108533 non-null  object
 3   total_cases                      109556 non-null  float64
 4   total_deaths                     109556 non-null  float64
 5   new_cases                        109556 non-null  float64
 6   new_deaths                       109556 non-null  float64
 7   new_cases_smoothed               109556 non-null  float64
 8   new_deaths_smoothed              109556 non-null  float64
 9   new_cases_per_million            109556 non-null  float64
 10  total_cases_per_million          109556 non-null  float64
 11  new_cases_smoothed_per_million   109556 non-null  float64
 12  new_deaths_per_million           109556 non-null  float64
 13  total_deaths_per_million         109556 non-null  float64
 14  new_deaths_smoothed_per_million  109556 non-null  float64
 15  suspected_cases_cumulative       139 non-null     float64
 16  annotation                       1009 non-null    object
dtypes: float64(13), object(4)
memory usage: 14.2+ MB

In [ ]:
# Checking the number of missing values per column
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
location                                0
date                                    0
iso_code                             1024
total_cases                             1
total_deaths                            1
new_cases                               1
new_deaths                              1
new_cases_smoothed                      1
new_deaths_smoothed                     1
new_cases_per_million                   1
total_cases_per_million                 1
new_cases_smoothed_per_million          1
new_deaths_per_million                  1
total_deaths_per_million                1
new_deaths_smoothed_per_million         1
suspected_cases_cumulative         109418
annotation                         108548
dtype: int64

### Cleaning Data

#### Invalid Date

In [ ]:
# Convert the 'date' column to datetime type
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Checking failed data converted to datetime
invalid_dates = df[df['date'].isna()]
print("\nInvalid date entries (rows with missing dates after conversion):")
print(invalid_dates)

Invalid date entries (rows with missing dates after conversion):
Empty DataFrame
Columns: [location, date, iso_code, total_cases, total_deaths, new_cases, new_deaths, new_cases_smoothed, new_deaths_smoothed, new_cases_per_million, total_cases_per_million, new_cases_smoothed_per_million, new_deaths_per_million, total_deaths_per_million, new_deaths_smoothed_per_million, suspected_cases_cumulative, annotation]
Index: []

#### Missing Values

In [ ]:
# Addressing missing values
# For rows that contain missing values in the new_cases, new_deaths, total_cases, or total_deaths columns, we will remove them
data_cleaned = df.dropna(subset=['new_cases', 'new_deaths', 'total_cases', 'total_deaths'])

# Verify that there are no more missing values
print("\nMissing values after cleaning:")
print(data_cleaned.isnull().sum())

Missing values after cleaning:
location                                0
date                                    0
iso_code                             1023
total_cases                             0
total_deaths                            0
new_cases                               0
new_deaths                              0
new_cases_smoothed                      0
new_deaths_smoothed                     0
new_cases_per_million                   0
total_cases_per_million                 0
new_cases_smoothed_per_million          0
new_deaths_per_million                  0
total_deaths_per_million                0
new_deaths_smoothed_per_million         0
suspected_cases_cumulative         109418
annotation                         108547
dtype: int64

#### Duplicates

In [ ]:
# Checking if there are duplicate values
duplicates = data_cleaned.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

# If there are duplicates, we will remove them
if duplicates > 0:
    data_cleaned = data_cleaned.drop_duplicates()

# Verify the data dimension after cleaning
print(f"\nShape of the dataset after cleaning: {data_cleaned.shape}")

Number of duplicate rows: 0

Shape of the dataset after cleaning: (109556, 17)

#### Strange or Out of The Normal Range

In [ ]:
# Checking for strange or out-of-bounds values (e.g. negative cases)
negative_cases = data_cleaned[(data_cleaned['new_cases'] < 0) | (data_cleaned['new_deaths'] < 0)]
print("\nRows with negative case values (if any):")
print(negative_cases)

# If there are invalid negative values, they can be removed
data_cleaned = data_cleaned[(data_cleaned['new_cases'] >= 0) & (data_cleaned['new_deaths'] >= 0)]

Rows with negative case values (if any):
Empty DataFrame
Columns: [location, date, iso_code, total_cases, total_deaths, new_cases, new_deaths, new_cases_smoothed, new_deaths_smoothed, new_cases_per_million, total_cases_per_million, new_cases_smoothed_per_million, new_deaths_per_million, total_deaths_per_million, new_deaths_smoothed_per_million, suspected_cases_cumulative, annotation]
Index: []

#### Outliers

In [ ]:
# Checking for outliers in the new_cases and total_cases columns with IQR
Q1 = data_cleaned['new_cases'].quantile(0.25)
Q3 = data_cleaned['new_cases'].quantile(0.75)
IQR = Q3 - Q1

outliers = data_cleaned[(data_cleaned['new_cases'] < (Q1 - 1.5 * IQR)) | (data_cleaned['new_cases'] > (Q3 + 1.5 * IQR))]
print("\nPotential outliers based on new_cases:")
outliers.head()

Potential outliers based on new_cases:

,location,date,iso_code,total_cases,total_deaths,new_cases,new_deaths,new_cases_smoothed,new_deaths_smoothed,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million,suspected_cases_cumulative,annotation
0,Africa,2022-05-01,OWID_AFR,42.0,2.0,2.0,0.0,0.29,0.00,0.001,0.030,0.000,0.0000,0.00141,0.0000,NaN,NaN
14,Africa,2022-05-15,OWID_AFR,46.0,2.0,4.0,0.0,0.57,0.00,0.003,0.032,0.000,0.0000,0.00141,0.0000,NaN,NaN
21,Africa,2022-05-22,OWID_AFR,58.0,2.0,12.0,0.0,1.71,0.00,0.008,0.041,0.001,0.0000,0.00141,0.0000,NaN,NaN
32,Africa,2022-06-02,OWID_AFR,59.0,2.0,1.0,0.0,0.14,0.00,0.001,0.041,0.000,0.0000,0.00140,0.0000,NaN,NaN
35,Africa,2022-06-05,OWID_AFR,77.0,3.0,18.0,1.0,2.71,0.14,0.013,0.054,0.002,0.0007,0.00211,0.0001,NaN,NaN

#### Cleaned

In [ ]:
# showing the entire of dataset
print("\nCleaned data preview:")
data_cleaned.head()

Cleaned data preview:

,location,date,iso_code,total_cases,total_deaths,new_cases,new_deaths,new_cases_smoothed,new_deaths_smoothed,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million,suspected_cases_cumulative,annotation
0,Africa,2022-05-01,OWID_AFR,42.0,2.0,2.0,0.0,0.29,0.0,0.001,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
1,Africa,2022-05-02,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
2,Africa,2022-05-03,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
3,Africa,2022-05-04,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN
4,Africa,2022-05-05,OWID_AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0,NaN,NaN

In [ ]:
# Checking data type and column of dataset
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109556 entries, 0 to 109556
Data columns (total 17 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   location                         109556 non-null  object
 1   date                             109556 non-null  datetime64[ns]
 2   iso_code                         108533 non-null  object
 3   total_cases                      109556 non-null  float64
 4   total_deaths                     109556 non-null  float64
 5   new_cases                        109556 non-null  float64
 6   new_deaths                       109556 non-null  float64
 7   new_cases_smoothed               109556 non-null  float64
 8   new_deaths_smoothed              109556 non-null  float64
 9   new_cases_per_million            109556 non-null  float64
 10  total_cases_per_million          109556 non-null  float64
 11  new_cases_smoothed_per_million   109556 non-null  float64
 12  new_deaths_per_million           109556 non-null  float64
 13  total_deaths_per_million         109556 non-null  float64
 14  new_deaths_smoothed_per_million  109556 non-null  float64
 15  suspected_cases_cumulative       138 non-null     float64
 16  annotation                       1009 non-null    object
dtypes: datetime64[ns](1), float64(13), object(3)
memory usage: 15.0+ MB

## **Export to File**

In [ ]:
# # Path to save the modified CSV file
# while True:
#     try:
#         start_year = int(input("Enter the start year (example: 2022): "))
#         start_month = int(input("Enter the start month (1-12): "))

#         end_year = int(input("Enter the end year (example: 2024): "))
#         end_month = int(input("Enter the end month (1-12): "))

#         # Input validation
#         if start_month < 1 or start_month > 12 or end_month < 1 or end_month > 12:
#             print("Month must be between 1 and 12. Please try again.")
#         elif start_year > end_year or (start_year == end_year and start_month > end_month):
#             print("The start date cannot be later than the end date. Please try again.")
#         else:
#             break
#     except ValueError:
#         print("Invalid input. Please enter valid year and month numbers (example: 2022 and 5 for May).")

In [ ]:
# Path to save the processed file
output_folder = 'data/processed'
os.makedirs(output_folder, exist_ok=True)  # Ensure folder exists

# Construct the file name based on the year and month range
output_file_path = os.path.join(
    output_folder, f'monkeypox_{start_year}_{start_month}_to_{end_year}_{end_month}_processed.csv').replace("\\", "/")

# Save the processed data to a CSV file
data_cleaned.to_csv(output_file_path, index=False)

print(f"The file has been saved to: {output_file_path}")

The file has been saved to: data/processed\monkeypox_2022_5_to_2024_12_processed.csv